<!DOCTYPE html>
<html ng-app="<%= _.camelize(appname) %>">
<head>
  <title ng-bind="title"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
  <link href="app.less" type="text/css" rel="stylesheet/less">
    <!-- bower:css -->
    <!-- endbower -->
</head>
<body>

<div>
    <div id="content" class="container">
        <div class="row">
            <div <%= routerViewDirective %>></div>
        </div>
    </div>
</div>

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>


    <script src="bower_components/less.js/dist/less.js" data-concat="false"></script>
  <!-- bower:js -->
  <!-- endbower -->


  <!-- Main App JS -->
  <script src="init.js"></script>
  <!-- Add New Component JS Above -->


</body>
</html>
