<!DOCTYPE html>
<html ng-app="<%= _.camelize(appname) %>">
<head>
  <title ng-bind="title"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
    <!-- build:css({.,.tmp}) main.css -->
	<!-- bower:css -->
    <!-- endbower -->
    <link href="app.css" type="text/css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body>

<div>
    <div id="content" class="container">

		<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        [Your image and title go here]
                    </a>
                </div>
                <div class="collapse navbar-collapse" ng-controller="NavMenuCtrl as vm">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: vm.isActive('/home')}"><a href="#/home">Home</a></li>
                        <li ng-class="{active: vm.isActive('/about')}"><a href="#/about">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row">
            <div <%= routerViewDirective %>></div>
        </div>
    </div>
	<footer class="footer">
        <div class="container">
            <p class="text-muted">&#0169 2015 [your footer goes here]</p>
        </div>
    </footer>
</div>

<!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
<!--endbuild -->

<!-- build:js({.tmp,app}) scripts/main.js -->
<!-- Main App JS -->
  <script src="app.js"></script>
<% if (hasAuth) { %>
<script src="service/authentication/authHooks.js"></script>
<script src="service/authentication/authService.js"></script>
<script src="service/authentication/authInterceptorService.js"></script>
<% } %>
  <script src="partial/home/home-route.js"></script>
  <script src="partial/home/home.js"></script>
  <script src="partial/about/about-route.js"></script>
  <script src="partial/about/about.js"></script>
  <!-- Add New Component JS Above -->
<!-- endbuild -->


</body>
</html>
