<!DOCTYPE html>
<html ng-app="<%= _.camelize(appname) %>">
<head>
  <title ng-bind="title"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
    <!-- build:css(.tmp) main.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <link href="app.css" type="text/css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body>

<div>
    <div id="content" class="container">
        <div class="row">
            <div <%= routerViewDirective %>></div>
        </div>
    </div>
</div>

<!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
<!--endbuild -->


<!-- build:js(.) scripts/app.js -->
<!-- Main App JS -->
  <script src="app.js"></script>
<% if (hasAuth) { %>
<script src="service/authentication/authHooks.js"></script>
<script src="service/authentication/authService.js"></script>
<script src="service/authentication/authInterceptorService.js"></script>
<% } %>
  <script src="partial/home/home-route.js"></script>
  <script src="partial/home/home.js"></script>
  <script src="partial/about/about-route.js"></script>
  <script src="partial/about/about.js"></script>
  <!-- Add New Component JS Above -->
<!-- endbuild -->


</body>
</html>
