<!DOCTYPE html>
<html ng-app="<%= _.camelize(appname) %>">
<head>
  <title ng-bind="title"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
    <!-- build:css(.tmp) main.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <link href="app.css" type="text/css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body>

<div>
    <div id="content" class="container">
        <div class="row">
            <div <%= routerViewDirective %>></div>
        </div>
    </div>
</div>

<!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
<!--endbuild -->



<!-- Main App JS -->
  <script src="app.js"></script>
  <!-- Add New Component JS Above -->
<!-- endbuild -->


</body>
</html>
